// Colors
c-white = #fdfffc
c-black = #011627
c-red = #e71d36
c-yellow = #ff9f1c
c-blue = #2ec4b6

// light 
c-bgc-l = lighten(c-white, 2%)
c-h-l = darken(c-blue, 5%)
c-hfont-l = lighten(c-white, 3%)
c-font-l = darken(#333, 3%)

// dark
c-bgc-d = lighten(c-black, 2%)
c-h-d = darken(c-blue, 5%)
c-hfont-d = lighten(c-white, 3%)
c-font-d = darken(#fff, 3%)

// common
c-link-active = c-yellow