@import './font'
@import './fit'
@import './reset'
@import './color'

body
  font-family proxima-dova, Helvetica, 'Microsoft Yahei Light', 'Microsoft Yahei', Arial, sans-serif
  font-weight 400
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
#app
  overflow hidden
  min-height 100vh
  height @min-height
  height auto
  text-align center
  background c-white
  color c-font-l
  header
    position fixed
    left 0
    right 0
    display flex
    align-items center
    justify-content flex-start
    z-index 300
    height 3.5rem
    line-height @height
    .light&
      background transparent
      color c-hfont-l
      transition all 0.5s ease
    .dark&
      background c-h-d
      color c-hfont-d
      box-shadow 0 1px 6px lighten(c-forceblue, 3%)
      animation movedown 0.5s ease
    @keyframes movedown
      from
        transform translateY(-3.5rem)
      to 
        transform translateY(0vh)
  main
    min-height 100vh
    &>div
      padding-top 3.5rem
      overflow hidden
  footer
    width 100%
    font-size 0.7rem
    height 4rem
    margin-top -4rem
    &.light
      .footer-main
        border-top 1px solid #9b9b9b
        color c-font-d
    &.dark
      .footer-main
        border-top 1px solid #ececec
        color c-font-l