@import './font'
@import './fit'
@import './reset'
@import './color'

body
  font-family proxima-dova, Helvetica, 'Microsoft Yahei Light', 'Microsoft Yahei', Arial, sans-serif
  font-weight 400
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overflow-x hidden
#app
  overflow hidden
  min-height 100vh
  height @min-height
  height auto
  text-align center
  .light&
    background c-bgc-l
    color c-font-l
  .dark&
    background c-bgc-d
    color c-font-d
  header
    display flex
    align-items center
    justify-content flex-start
    .light&
      background c-h-l
      color c-hfont-l
    .dark&
      background c-h-d
      color c-hfont-d
  header
    height 8vh
    line-height @height
    .light&
      border-bottom (@height/8) solid lighten(c-h-l ,40%)
    .dark&
      border-bottom (@height/8) solid lighten(c-h-d ,40%)
  