@media (max-width: 767px)
    html
        font-size: 6px

@media (min-width: 768px) and (max-width: 1199px)
    html
        font-size: 10px

@media (min-width: 1200px) and (max-width: 1440px)
    html
        font-size: 14px

@media (min-width: 1441px) and (max-width: 1680px)
    html
        font-size: 16px

@media (min-width: 1681px) and (max-width: 1920px)
    html
        font-size: 20px

@media (min-width: 1921px)
    html
        font-size: 22px
