@font-face 
    font-family proxima-dova
    font-weight 300
    font-style normal
    src url('./assets/fonts/ProximaNovaLight.eot')
    src url('./assets/fonts/ProximaNovaLight.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaLight.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaLight.woff') format('woff'),
        url('./assets/fonts/ProximaNovaLight.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 300
    font-style italic
    src url('./assets/fonts/ProximaNovaLightItalic.eot')
    src url('./assets/fonts/ProximaNovaLightItalic.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaLightItalic.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaLightItalic.woff') format('woff'),
        url('./assets/fonts/ProximaNovaLightItalic.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaLightItalic.svg#ProximaNovaLightItalic') format('svg')
        
@font-face 
    font-family proxima-dova
    font-weight 400
    font-style normal
    src url('./assets/fonts/ProximaNovaRegular.eot')
    src url('./assets/fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaRegular.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaRegular.woff') format('woff'),
        url('./assets/fonts/ProximaNovaRegular.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 400
    font-style italic
    src url('./assets/fonts/ProximaNovaRegItalic.eot')
    src url('./assets/fonts/ProximaNovaRegItalic.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaRegItalic.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaRegItalic.woff') format('woff'),
        url('./assets/fonts/ProximaNovaRegItalic.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaRegItalic.svg#ProximaNovaRegItalic') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 600
    font-style normal
    src url('./assets/fonts/ProximaNovaSemibold.eot')
    src url('./assets/fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaSemibold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaSemibold.woff') format('woff'),
        url('./assets/fonts/ProximaNovaSemibold.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 600
    font-style italic
    src url('./assets/fonts/ProximaNovaSemiboldItalic.eot')
    src url('./assets/fonts/ProximaNovaSemiboldItalic.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaSemiboldItalic.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaSemiboldItalic.woff') format('woff'),
        url('./assets/fonts/ProximaNovaSemiboldItalic.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaSemiboldItalic.svg#ProximaNovaSemiboldItalic') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 700
    font-style normal
    src url('./assets/fonts/ProximaNovaBold.eot')
    src url('./assets/fonts/ProximaNovaBold.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaBold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaBold.woff') format('woff'),
        url('./assets/fonts/ProximaNovaBold.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg')
        
@font-face 
    font-family proxima-dova
    font-weight 700
    font-style italic
    src url('./assets/fonts/ProximaNovaBoldIt.eot')
    src url('./assets/fonts/ProximaNovaBoldIt.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaBoldIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaBoldIt.woff') format('woff'),
        url('./assets/fonts/ProximaNovaBoldIt.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaBoldIt.svg#ProximaNovaBoldIt') format('svg')

@font-face 
    font-family proxima-dova
    font-weight 800
    font-style normal
    src url('./assets/fonts/ProximaNovaExtrabold.eot')
    src url('./assets/fonts/ProximaNovaExtrabold.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaExtrabold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaExtrabold.woff') format('woff'),
        url('./assets/fonts/ProximaNovaExtrabold.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaExtrabold.svg#ProximaNovaExtrabold') format('svg')
               
@font-face 
    font-family proxima-dova
    font-weight 900
    font-style normal
    src url('./assets/fonts/ProximaNovaBlack.eot')
    src url('./assets/fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaBlack.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaBlack.woff') format('woff'),
        url('./assets/fonts/ProximaNovaBlack.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg')


@font-face 
    font-family proxima-dova-cond
    font-weight 300
    font-style normal
    src url('./assets/fonts/ProximaNovaCondLight.eot')
    src url('./assets/fonts/ProximaNovaCondLight.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondLight.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondLight.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondLight.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondLight.svg#ProximaNovaCondLight') format('svg')

@font-face 
    font-family proxima-dova-cond
    font-weight 300
    font-style italic
    src url('./assets/fonts/ProximaNovaCondLightIt.eot')
    src url('./assets/fonts/ProximaNovaCondLightIt.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondLightIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondLightIt.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondLightIt.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondLightIt.svg#ProximaNovaCondLightIt') format('svg')
        
@font-face 
    font-family proxima-dova-cond
    font-weight 400
    font-style normal
    src url('./assets/fonts/ProximaNovaCondRegular.eot')
    src url('./assets/fonts/ProximaNovaCondRegular.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondRegular.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondRegular.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondRegular.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondRegular.svg#ProximaNovaCondRegular') format('svg')

@font-face 
    font-family proxima-dova-cond
    font-weight 400
    font-style italic
    src url('./assets/fonts/ProximaNovaCondRegularIt.eot')
    src url('./assets/fonts/ProximaNovaCondRegularIt.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondRegularIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondRegularIt.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondRegularIt.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondRegularIt.svg#ProximaNovaCondRegularIt') format('svg')

@font-face 
    font-family proxima-dova-cond
    font-weight 600
    font-style normal
    src url('./assets/fonts/ProximaNovaCondSemibold.eot')
    src url('./assets/fonts/ProximaNovaCondSemibold.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondSemibold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondSemibold.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondSemibold.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondSemibold.svg#ProximaNovaCondSemibold') format('svg')

@font-face 
    font-family proxima-dova-cond
    font-weight 600
    font-style italic
    src url('./assets/fonts/ProximaNovaCondSemiboldIt.eot')
    src url('./assets/fonts/ProximaNovaCondSemiboldIt.eot') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaCondSemiboldIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaCondSemiboldIt.woff') format('woff'),
        url('./assets/fonts/ProximaNovaCondSemiboldIt.ttf') format('truetype'),
        url('./assets/fonts/ProximaNovaCondSemiboldIt.svg#ProximaNovaCondSemiboldIt') format('svg')